<p class="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'layouts/newform' %>
    <div class="col-md-8 offset-md-1">
      <h2><span class="bg-light">ユーザー一覧<span></h2>
        <table class="table">
          <tbody>
            <%= @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image,size: "100x100" %></td>
                <td><%= user.last_name %> <%= user.farst_name %></td>
                <td><%= link_to "詳細", user_path(user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>