<div class="container px-5 px-sm-0">
  <% if @tweet.errors.any? %>
    <%= @tweet.errors.count %>errors prohivited this obj from being saved:
    <ul>
      <% @tweet.errors.full_messages.each do |tweet| %>
        <li><%= tweet %></li>
      <% end %>
    </ul>
  <% end %>
    <div class="row">
    <!--部分テンプレート-->
    <%= render 'layouts/newform' %>
      <div class="col-md-8 offset-md-1">
        <h2>Tweets</h2>
          <table class="table">

            <tbody>
              <% @tweets.each do |tweet| %>
                <tr>
                  <td>
                    <%#= link_to user_path(tweet.user) do %>
                      <%= image_tag @user.get_profile_image,size: "50x50" %>
                    <%# end %>
                  </td>
                  <td>
                    <%#= link_to tweet_path(@tweet.id) do %>
                      <%#= image_tag @tweet.tweet_image,size: "300x250" %>
                    <%# end %>
                  </td>
                  <td>
                    <%#= link_to tweet_path(@tweet.id) do %>
                      <%= @tweet.content %>
                    <%# end %>
                  </td>
                  <td>
                    <%= link_to "#{@tweet.tweet_comments.count} コメント", tweet_path(tweet.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>
