<div class="container p-5">
  <% if @tweet.errors.any? %>
    <%= @tweet.errors.count %>errors prohivited this obj from being saved:
    <ul>
      <% @tweet.errors.full_messages.each do |tweet| %>
        <li><%= tweet %></li>
      <% end %>
    </ul>
  <% end %>
    <div class="row p-3">
    <!--登録ユーザーのみ表示部分テンプレート-->
    <% if user_signed_in? %>
      <%= render 'layouts/newform' %>
    <% end %>
      <div class="mx-auto">
        <h2><span class="bg-light">Tweets</span></h2>
        <%= render 'users/searches/search' %>
          <table class="table">

            <tbody>
              <% @tweets.each do |tweet| %>
                <tr>
                  <td>
                    <%= link_to tweet_path(tweet.id) do %>
                      <%= image_tag tweet.get_tweet_image,size: "300x250" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to tweet_path(tweet.id) do %>
                      <%= tweet.content %>
                    <% end %>
                  </td>
                  <!--いいね-->
                  <td id="like_<%= tweet.id %>">
                    <% if user_signed_in? %>
                      <%= render 'users/favorites/favorit', tweet: tweet %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "#{tweet.tweet_comments.count} コメント", tweet_path(tweet.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @tweets %>
        </div>
    </div>
</div>
