<div class="container p-5">
    <div class="row">
        <div class="col-auto">
          <h2><span class="bg-light">New Tweet<span></h2>

          <% if @tweet.errors.any? %>
            <%= @tweet.errors.count %>件のエラーが発生しました
            <ul>
              <% @tweet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with model: @tweet do |f| %>
          <div class="form-group">
            <h4><span class="bg-light">画像<span></h4>
            <%= f.file_field :tweet_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <h4><span class="bg-light">場所</span></h4>
            <%= f.text_area :content %>
          </div>
            <%= f.submit 'Tweet', class: 'btn-block btn btn-primary' %>
          <% end %>
        </div>
    </div>
</div>
