<div class="container p-5">
  <div class="row p-3">
    <!--部分テンプレート-->
    <div class="mx-auto">
      <h2>投稿詳細</h2>
      <table class="table">
        <tbody>
          <%= link_to tweet_path(@tweet.id) do %>
          <% end %>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image,size: "100x100" %>
              <% end %>
              <p><%= @user.last_name %> <%= @user.farst_name %></p>
            </td>
            <td>
              <%= link_to tweet_path(@tweet.id) do %>
                <%= image_tag @tweet.get_tweet_image,size: "300x250" %>
              <% end %>
            </td>
            <td>
              <%= link_to tweet_path(@tweet.id) do %>
                <%= @tweet.content %>
              <% end %>
            </td>
            <td>
              <% if @tweet.user == current_user %>
                <%= link_to "編集",edit_tweet_path(@tweet.id), class:"btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @tweet.user == current_user %>
                <%= link_to "削除",tweet_path(@tweet), method: :delete, class:"btn btn-sm btn-danger" %>
              <% end %>
            </td>
            <!--いいね機能-->
            <td id="like_<%= @tweet.id %>">
              <% if user_signed_in? %>
                <%= render 'users/favorites/favorit', tweet: @tweet %>
              <% end %>
            </td>
            <td>
              <p>コメント件数: <%= @tweet.tweet_comments.count %></p>
            </td>
          </tr>
        </tbody>
      </table>

      <%= link_to "戻る", tweets_path, class:"btn btn-primary" %>

      <% if user_signed_in? %>
        <div class="commnets_area">
          <!--コメントフォームのレンダー-->
          <%= render 'users/comments/form', tweet: @tweet, comment: @tweet %>
        </div>
        <div>
          <%= form_with model: [@tweet, @tweet_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>